#admin-panel {
    display: grid;
    grid-template-columns: 6fr;
    margin: 0 auto;
    width: 100%;
}
#admin-panel > h2 {
    font-family: 'DynaPuff', cursive;
}
#admin-panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-details-row {
    display: flex;
    margin: 0.2rem;
    border: 1px dotted grey;
    font-size: 0.8rem;
    border-radius: 0.5em;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.2s ease all;
    padding-inline-start: 1vw;
    padding-inline-end: 1vw;
}
.user-edit-action-options {
    display: flex;
    padding-inline-start: 0;
}
.user-details {
    margin: 0rem;
    border: 1px solid grey;
    border-radius: 0.5em;
    padding: 0.2rem;
    width: 10vw;
    height: 25%;
    font-size: 90%;
}
.security-qn-dropdown {
    width: fit-content;
    height: fit-content;
}
.admin-status-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-admin-radio {
    width: 0.75rem;
}
.user-edit-action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    margin: 0.2rem;
    border: 1px solid grey;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.5s ease all;
}
.user-edit-action-btn:hover {
    background-color: aqua;
}
.confirm-delete-user {
    background-color: rgb(251, 130, 130);
}
.confirm-delete-user:hover {
    background-color: red;
}