#modify-trip {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0rem;
    right: 1rem;
    align-items: center;
}
#modify-trip > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: rgb(210, 210, 155);
    border-radius: 3px;
    transition: 0.5s ease all;
    margin: 0.3rem;
}
#modify-trip > li:hover {
    box-sizing: border-box;
    cursor: pointer;
}
#modify-trip > #edit-trip {
    background-color: rgb(0, 237, 0);
}
#modify-trip > #edit-trip:hover {
    background-color: green;
}
#modify-trip > #delete-trip {
    background-color: rgb(251, 130, 130);
}
#modify-trip > #delete-trip:hover {
    background-color: red;
}