.new-trip-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding: 15px 0;
    border: solid black 1px;
    border-radius: 10px;
    background-color: grey;
}
.new-trip-icon {
    height: 50px;
    width: 50px;
    padding: 8px;
    cursor: copy;
    border: solid black 1px;
    border-radius: 10px;
    transition: 0.3s ease all;
    background-color: white;    
}
.new-trip-icon-float {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    right: -8px;
    height: 20px;
    width: 20px;
    padding: 2px;
    font-size: 30px;
    font-weight: bold;
    cursor: copy;
    border: solid black 1px;
    color: green;
    transition: 0.3s ease all;
    background-color: white;
}
.float-delete {
    top: 0px;
    right: 0px;
    font-size: 15px;
    color: red;    
}
.new-trip-icon:hover, .new-trip-icon-float:hover {
    background-color: rgb(189, 245, 245);
}
.float-delete:hover {
    background-color: rgb(248, 154, 154);
}
.new-trip-form-frame {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-bottom: 30px;
    height: 150px;
    width: 100%;
    max-width: 700px;
    border: dotted black 1px;
    background-color: yellow;
}
.new-trip-form {
    grid-area: 1/2/1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%;
}
.new-trip-save-form {
    right: 10px;
    top: 10px;
}
.new-trip-delete-button {
    top: 20px;
    right: 5px;
}
.new-trip-save-button {
    top: 50px;
    right: 5px;
}
.new-trip-delete-button, .new-trip-save-button {
    width: 60px;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s ease all;
}
.new-trip-delete-button:hover, .new-trip-save-button:hover {
    background-color: aqua;
}
.new-trip-grid-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-trip-grid-icon > .new-trip-icon {
    grid-area: 1/1/1/2;
    height: 30px;
    width: 30px;
    cursor: auto;
    background-color: red;
}
.new-trip-input {    
    width: 100%;
    max-width: 320px;
    min-width: 120px;
}
.form-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.form-row-airline {
    width: 100%;
    display: contents;
    background-color: aqua;
    border: solid red 2px;
}
.airline-autocomplete {
    top: 40px;
    left: 120px;
    background-color: rgb(255, 255, 255);
    
}
.airline-autocomplete > ul {
    margin: 0px;  
    padding: 0px;
    border: solid black 1px;
}
.airline-autocomplete > ul > li {
    list-style: none;
    border-bottom: solid rgb(179, 177, 177) 1px;
    padding: 5px 10px;
}
.new-trip-label {
    margin: 5px 20px;
    width: 80px;
}
.new-trip-description {
    width: 80%;
    height: 200px;
    min-height: 200px;
    resize: none;
    margin: 20px auto;
}
