.results {
    width: 70vw;
    display: grid;
    grid-template-columns: auto;
}

.user-result, .trip-result, .activity-result {
grid-column: 1/2;
display: grid;
border: 1px solid black;
margin: 20px;
padding: 20px;
cursor: pointer;
border-radius: 10px;
}

.trip-result {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.trip-result > .result-text {
    grid-column: 1/2;
}

.trip-image {
    grid-column: 2/3;
    border: 2px solid black;
    border-radius: 8px;
    max-height: 250px;
    background-size: contain;
}

#search-form {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
}