.results {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}

.user-result, .trip-result, .activity-result {
grid-column: 1/2;
display: grid;
border: 1px solid black;
margin: 20px;
padding: 20px;
cursor: pointer;
}

#search-form {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}