.trip-page-cover-pic {
    width: 50%;
    height: auto;
}

#likeDislike-and-coverPhoto {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    align-items: center;
}

#like-btn, #dislike-btn, #showcase-like-btn, #showcase-dislike-btn {
    margin: 1rem;
    cursor: pointer;
}

#like-container, #dislike-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#coverPhoto-only {
    display: flex;
    justify-content: center;
    align-items: center;
}

#like-container {
    color: green;
}

#dislike-container {
    color: red;
}

.like-dislike-icons, .showcase-like-dislike-icons {
    transform: scale(3);
    cursor: pointer;
}

.like-dislike-icons:active {
    transform: scale(2);
}

.itinerary-row {
    display: flex;
}

.itinerary-column {
    display: flex;
    flex-direction: column;
}

.itinerary-item-details {
    display: flex;
    flex-direction: column;
}

.trip-addon-icon {
    width: 5%;
    height: auto;
    margin: 1rem;
}