.trip-page-cover-pic {
    height: auto;
    max-height: 250px;
    width: 400px;
    border-radius: 10px;
    border: solid black 2px;
    padding: 10px;
    background-color: rgb(22, 27, 74);
    margin: 0 60px;
}

#likeDislike-and-coverPhoto {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    align-items: center;
}

#like-btn, #dislike-btn, #showcase-like-btn, #showcase-dislike-btn {
    margin: 1rem;
    cursor: pointer;
}

#like-container, #dislike-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#coverPhoto-only {
    display: flex;
    justify-content: center;
    align-items: center;
}

#like-container {
    color: green;
}

#dislike-container {
    color: red;
}

.like-dislike-icons, .showcase-like-dislike-icons {
    transform: scale(3);
    cursor: pointer;
}

.like-dislike-icons:active {
    transform: scale(2);
}

.itinerary-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itinerary-column {
    display: flex;
    flex-direction: column;
}

.itinerary-item-details {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 16px;
}

.trip-addon-icon {
    width: 50px;
    height: auto;
    margin: 1rem;
}
.view-trip-itin-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.view-trip-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}